/*=========================tieude-daotao=========================*/
.tieude-daotao{max-width:100%; max-height:auto; display:column; text-align:center}
.tieude-daotao img{width:15%; height:15%}
.tieude-daotao h5{font-family:'Open Sans',sans-serif; font-size:22px; color:#006838; padding-top:15px}
/*=========================noidung-daotao=========================*/
.container-daotao{max-width:100%; max-height:auto; display:column}
.block-daotao{width:100%; height:auto; margin-top:50px; display:flex; justify-content:space-around; background:pink}
.item-daotao{width:95%; height:200px; text-align:center; border:1px solid black; border-radius:20px; background:#00aa8c}
.item-daotao:hover{box-shadow:5px 5px 5px gray; margin-top:-10px; transition: all 0.6s ease}
.item-num{background:white; width:100%; height:50px; border-top-right-radius:20px; border-top-left-radius:20px; border-bottom:1px solid black}
.item-num h5{font-family:'Open Sans',sans-serif; font-size:22px; color:#006838; padding-top:4px}
.item-icon{width:100%; height:auto}
.item-icon img{width:75%; height:75%; margin-top:-21px}
.item-text{width:100%; height:auto; padding-top:5px}
.item-text h5{font-family:'Open Sans',sans-serif; font-size:13px; color:white; font-weight:lighter; margin:0px 6px}
.item-text h5:hover{text-decoration:underline}
.item-daotao-hidden{visibility:hidden}
/*=========================responsive=========================*/
@media only screen and (max-width:46.1875em){
/*=====tieude=====*/
.tieude-daotao img{visibility:hidden}
}
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
/*=====tieude=====*/
.tieude-daotao img{width:20%; height:20%}
/*=====noidung=====*/
.item-num h5{padding-top:6px}
.item-icon img{margin-top:-14px}
.block-daotao{max-width:50%; background:red}
}
